Checks: >
  *,
  -*-avoid-c-arrays,
  -*-avoid-goto,
  -*-braces-around-statements,
  -*-else-after-return,
  -*-magic-numbers,
  -*-member-init,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-no-malloc,
  -*-uppercase-literal-suffix,
  -*-use-auto,
  -*-use-nullptr,
  -*-vararg,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -bugprone-incorrect-roundings,
  -bugprone-integer-division,
  -bugprone-macro-parentheses,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -cert-dcl21-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc50-cpp,
  -cert-msc51-cpp,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-unix.Malloc,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -google-build-using-namespace,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-loop-convert,
  -modernize-raw-string-literal,
  -modernize-use-trailing-return-type,
  -performance-faster-string-find,
  -readability-const-return-type,
  -readability-container-size-empty,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-make-member-function-const,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
